<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Sugar Rush Studio</title>
    </head>
    <body>
        <h1>Welcome to Sugar Rush Studio</h1>
        <ul>
        <li><a href="/organiser">Organiser Home Page</a></li>
        <li><a href="/attendee">Attendee Home Page</a></li>
        </ul>
    </body>
</html>
